<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div class="container"> 
      {{- partial "header.html" . -}}
      <main>
        {{- block "main" . }}{{- end }}
      </main>
      {{- partial "footer.html" . -}}
    </div>
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
