{{ define "main" }}
  <h2>{{ .Title }}</h2>   
  {{ .Content }}
  {{ range .Data.Terms.Alphabetical }}
    <p class="tag">
    	<a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a><span class="count">({{ .Count }})</span> 
    </p>
  {{ end }}
{{ end }}

